body{
  font-family: Arial, sans-serif;
  font-size: 20px;
}
div{
  border: 3px solid #EDB8AD;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  
}
#NombreYRol{
  background-color: #FAAFA0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Times New Roman", Arial, sans-serif;
  font-size: 45px;
}
h1{
  font-size: 80px;
}
img{
  width: 360px;
  height: auto;
  border-radius: 50%;
  object-fit:cover;
}
.out{
  display: none;
}
.cambiar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.cambiar button{
  font-size: 45px;
  background: none;
  border: none;
}
.ListaXBloques{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h2{
  font-family: Arial, sans-serif;
  font-size: 30px;
}
