h1{
  font-family: "Times New Roman", Arial, sans-serif;
}
body{
  font-family: Arial, sans-serif;
}
div{
  border: 3px solid #EDB8AD;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  
}
#NombreYRol{
  background-color: #EDB8AD;
  text-align: right;
  display: flex;
}
img{
  width: 720px;
  height: auto;
  border-radius: 50%;
  object-fit:cover;
}
h2{
  font-family: Arial, sans-serif;
}
